<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Sass Demo - Card Component</title>

  <!-- CSS -->
  <link href="../css/sass-demo.css" rel="stylesheet">

</head>

<body>
  <div class="su-card">
    <img src="https://i.ytimg.com/vi/RRTsQmGM53c/maxresdefault.jpg" alt="Golden State Warriors winning title">
    <div class="su-card__contents">
      <h5>The league's greatest team captures another title</h5>
      <h3>We Are The Champions</h3>
      <p>No time for Cavaliers, 'cause we are the champions of the world. We've taken our bows, and our curtain calls, the Cavs brought us fame, and fortune, and everything that goes with it. We thank them all. But it's been no bed of roses; no
        pleasure cruise. We consider it a challenge before the whole human race, and we ain't gonna lose.</p>
      <div class="su-card__button">
        <a href=#>Read full story</a>
      </div>
    </div>
  </div>
</body>

</html>
